<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="../../public/css/login-style.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <div class="login-left">
                <img src="../../public/images/logov2.png" alt="Logo" class="login-image">
                <em>"Empoderando a la próxima generación de desarrolladores con conocimientos profundos en programación orientada a objetos en Java, a través de una educación innovadora y accesible".</em>
            </div>
            
            <div class="login-right">
                <button class="back-button" onclick="window.location.href='../../index.html'">Volver</button>
                <div class="login-form">
                    <h2>¡Bienvenido!</h2>
                    <p>Inicie sesión en su cuenta</p>
                    <form action="login.php" method="post">
                        <label for="email">Correo electrónico</label>
                        <input type="email" id="email" name="email" placeholder="Ingrese su correo" required>
                        <label for="password">Contraseña</label>
                        <input type="password" id="password" name="password" placeholder="Ingrese su contraseña" required>
                        <a href="recuperacion.html" class="forgot-password">¿Olvidó su contraseña?</a>
                        <button type="submit" class="login-button">Iniciar Sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>